@import url("../fonts.css");

.line-header { width: 100%; }

.content-card-info {
    margin: 100px 0px;

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 40px;
}

.slider-wrapper-photo { 
    width: 50%;

    display: flex;
    justify-content: end;
}

#thumbnail-slider {
    width: 30%;
}

#main-slider {
    width: 70%;
}

#thumbnail-slider .splide__slide {
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__slide img {
    width: 100%;
    height: 100%;
}

.splide__slide { 
    border: 2px solid transparent !important;
    transition: .2s;
}

.splide__arrow:disabled { opacity: 0.3 !important; }

.splide__arrow {
    visibility: hidden;

    background: transparent !important;
    opacity: 1 !important;

    height: 20px !important;
    width: 20px !important;
}

#thumbnail-slider .is-active { 
    border: 2px solid #000 !important;
}

.splide__arrow img {
    width: 100%;
    height: 100%;
}

#main-slider:hover .splide__arrow { visibility: visible; }

#mobile-slider { display: none; }

.content-text {
    margin-top: 20px;

    width: 50%;

    display: flex;
    flex-direction: column;
}

.name-card {
    font-size: 24px;
    font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
}

.brand-and-id {
    display: flex;
    justify-content: space-between;
    text-align: center;

    margin-top: 10px;

    font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
    color: #868686;
}

.brand {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.id {
    font-size: 13px;
}

.card-line {
    width: 100%;
    height: 1px;

    background: #000;

    margin-top: 20px;
}

.size-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 25px;

    font-size: 14px;
    font-family: "Inter-SemiBold", Arial, Helvetica, sans-serif;
}

.size {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 10px;

    color: #868686;
    text-transform: uppercase;
}

.price { 
    font-family: "Inter-Bold", Arial, Helvetica, sans-serif;
    
    color: #000;
}

.content-buttons {
    width: 100%;

    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 40px;

    margin-top: 70px;
}

.add-basket, .go-shop {
    width: 230px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: "Inter-SemiBold", Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    font-size: 16px;
}


.add-basket {
    color: #fff;
    background: #000;

    border: 0px;
}

.go-shop {
    color: #000;
    background: transparent;

    border: 1px solid #000;
}