@import url("../fonts.css");

.line-header { width: 100%; }

.shop-block-wraper {
    width: 100%;

    justify-content: center;
}

.shop-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    padding: 80px 0px;
}

.shop-card li { 
    width: 440px; 
    position: relative;
}

.shop-card li a {
    width: 100%;
    height: 100%;
}

.order-and-stock {
    position: absolute;
    top: 0px;
    left: 0px;

    background: rgba(8, 170, 237, 0.4);

    width: 80px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 12px;
    font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
}

.shop-card-photo {
    height: 440px;
    width: 100%;
}

.shop-card-text {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 6px;

    font-size: 14px;
    font-family: "Inter-Medium", Arial, Helvetica, sans-serif;

    padding: 8px 0px;
}

.name-card {
    width: 100%;
    display: flex;
    justify-content: start;

    color: #000; 
    text-transform: uppercase;
}

.price-state {
    display: flex;
    justify-content: space-between;

    font-size: 12px;
}

.state { 
    color: #949494; 
    text-transform: uppercase;
}




.button-more-card-wraper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-more-card {
    border: 1px solid #000;

    padding: 25px 60px;
    
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    font-family: "Play-Regular", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;

    margin-top: 20px;
    margin-bottom: 160px;

    background: transparent;
}