@media (min-width: 1700px) and (max-width: 1900px) {
    .shop-card li { width: 350px; }

    .button-more-card { 
        padding: 20px 55px; 

        font-size: 15px;
    }
}

@media (min-width: 1400px) and (max-width: 1700px) {
    .shop-card { gap: 28px; }

    .shop-card-photo { height: 340px; }

    .shop-card li { width: 290px; }

    .button-more-card { 
        padding: 15px 55px; 

        font-size: 14px;

        margin-top: 0px;
        margin-bottom: 120px;
    }

    .shop-card-text { font-size: 13px; }

    .price-state { font-size: 12px; }
}

@media (min-width: 1100px) and (max-width: 1400px) {
    .shop-card { 
        gap: 40px; 

        padding-bottom: 40px;
    }

    .shop-card-photo { height: 450px; }

    .shop-card li { width: 400px; }

    .button-more-card { 
        padding: 15px 55px; 

        font-size: 14px;

        margin-top: 0px;
        margin-bottom: 80px;
    }
}

@media (min-width: 800px) and (max-width: 1100px) {
    .shop-card { 
        gap: 40px; 

        padding-bottom: 40px;
    }

    .shop-card-photo { height: 380px; }

    .shop-card li { width: 300px; }

    .button-more-card { 
        padding: 15px 50px; 

        font-size: 13px;

        margin-top: 0px;
        margin-bottom: 80px;
    }

    .shop-card-text { font-size: 13px; }

    .price-state { font-size: 12px; }
}

@media (min-width: 600px) and (max-width: 800px) {
    .shop-card { 
        gap: 30px; 

        padding: 40px 0px;
    }

    .shop-card-photo { height: 300px; }

    .shop-card li { width: 250px; }
    
    .button-more-card { 
        padding: 15px 50px; 

        font-size: 13px;

        margin-top: 0px;
        margin-bottom: 60px;
    }

    .shop-card-text { 
        font-size: 11px;
        gap: 3px;
    }

    .price-state { font-size: 11px; }
}

@media (min-width: 0px) and (max-width: 600px) {
    .shop-card { 
        gap: 0px;

        justify-content: space-between;

        padding-top: 40px;
        padding-bottom: 20px;
    }

    .shop-card-photo { height: 300px; }

    .shop-card li { 
        width: 48%; 

        margin-bottom: 25px;
    }    

    .button-more-card { 
        padding: 15px 35px; 

        font-size: 11px;

        margin-top: 0px;
        margin-bottom: 40px;
    }

    .shop-card-text { 
        font-size: 10px;
        gap: 4px;
    }

    .price-state { font-size: 9px; }

    .order-and-stock {    
        width: 70px;
        height: 20px;

        font-size: 10px; 
    }
}

@media (min-width: 440px) and (max-width: 540px) { .shop-card-photo { height: 270px; } }
@media (min-width: 400px) and (max-width: 440px) { .shop-card-photo { height: 240px; } }
@media (min-width: 350px) and (max-width: 400px) { .shop-card-photo { height: 210px; } }
@media (min-width: 0px) and (max-width: 350px) { .shop-card-photo { height: 180px; } }